<h2><%= @restaurant.name%></h2>

<p><%= @restaurant.category %></p>

<div>
  <%= @restaurant.address %><br>
  <%= @restaurant.city %>, <%= @restaurant.state %>, <%= @restaurant.zip %><br>
</div>
<br>
<div>
  <%= @restaurant.description %>
</div>

<h3>Reviews</h3>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      Rating: <%= review.rating %>, Description: <%= review.body %>
    </li>
  <%end%>
</ul>

<p><%= link_to 'Add a Review', new_restaurant_review_path(@restaurant) %></p>

<p><%= link_to 'All Restaurants', restaurants_path %></p>
<br>
<%= link_to 'Browse Recent Reviews', root_url %>
